:root {
  --scarlet-color: #c8000a;
  --deep-blue-color: #344d90;
  --white-color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 3rem;
	text-align: center;
	color: var(--scarlet-color);
}

.row {
	display: flex;
	justify-content: space-evenly;
}

.row > p {
	font-size: 2rem;
}

#add {
	background-color: var(--deep-blue-color);
	color: var(--white-color);
	padding: 15px 30px;
	border-radius: 10px;
}

button > img {
	width: 1.5rem;
	height: 1.5rem;
}