:root {
  --scarlet-color: #c8000a;
  --deep-blue-color: #344d90;
  --white-color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 3rem;
	text-align: center;
	color: var(--scarlet-color);
}

.row {
	font-weight: bold;
}

.row, 
.bookCard {
	display: grid;
	grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr;
	text-align: center;
	align-items: center;
	border-bottom: 1px #222 solid;
}

.bookCard > p {
	font-size: 1.5rem;
}

.row > p {
	font-size: 2rem;
}

#add {
	background-color: var(--deep-blue-color);
	color: var(--white-color);
	padding: 15px 30px;
	border-radius: 10px;
}

button > img {
	width: 1.5rem;
	height: 1.5rem;
}

#form {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 1rem;
}

#form > div,
fieldset{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}